<div class="hidden md:flex flex-col">
    <div class="flex "> 
      <div class="arrowfill relative">
        <svg width="43" height="40" viewBox="0 0 43 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M29.3931 39.3505H2.57511H2C0.89543 39.3505 0 38.4551 0 37.3505V14.0669C0 13.4657 0.270452 12.8964 0.736488 12.5166L12.8309 2.65974C14.1374 1.59493 16.0944 2.52461 16.0944 4.21007V11.156C16.0944 12.8469 18.0625 13.7748 19.367 12.6989L33.2553 1.24428C34.0939 0.552608 35.3315 0.657433 36.0418 1.48031L41.8896 8.25459C42.5861 9.06146 42.5274 10.2728 41.7562 11.0086L30.0081 22.2163C28.7024 23.4619 29.5841 25.6634 31.3887 25.6634H38.5058C40.2583 25.6634 41.1633 27.7573 39.9625 29.0337L30.8498 38.7209C30.4718 39.1227 29.9447 39.3505 29.3931 39.3505Z" fill=""/>
          </svg>
          
      </div>
      <div class="arrowoutline relative">
        <svg width="45" height="42" viewBox="0 0 45 42" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M30.8265 40.3505H4.00858H3.43347C2.3289 40.3505 1.43347 39.4551 1.43347 38.3505V15.0669C1.43347 14.4657 1.70392 13.8964 2.16996 13.5166L14.2644 3.65974C15.5709 2.59493 17.5279 3.52461 17.5279 5.21007V12.156C17.5279 13.8469 19.496 14.7748 20.8004 13.6989L34.6888 2.24428C35.5274 1.55261 36.7649 1.65743 37.4753 2.48031L43.3231 9.25459C44.0196 10.0615 43.9609 11.2728 43.1897 12.0086L31.4416 23.2163C30.1359 24.4619 31.0176 26.6634 32.8222 26.6634H39.9393C41.6918 26.6634 42.5968 28.7573 41.396 30.0337L32.2833 39.7209C31.9053 40.1227 31.3782 40.3505 30.8265 40.3505Z" stroke="" stroke-width="2"/>
          </svg>              
      </div>
      <div class="arrowfill relative">
        <svg width="43" height="40" viewBox="0 0 43 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M29.3931 39.3505H2.57511H2C0.89543 39.3505 0 38.4551 0 37.3505V14.0669C0 13.4657 0.270452 12.8964 0.736488 12.5166L12.8309 2.65974C14.1374 1.59493 16.0944 2.52461 16.0944 4.21007V11.156C16.0944 12.8469 18.0625 13.7748 19.367 12.6989L33.2553 1.24428C34.0939 0.552608 35.3315 0.657433 36.0418 1.48031L41.8896 8.25459C42.5861 9.06146 42.5274 10.2728 41.7562 11.0086L30.0081 22.2163C28.7024 23.4619 29.5841 25.6634 31.3887 25.6634H38.5058C40.2583 25.6634 41.1633 27.7573 39.9625 29.0337L30.8498 38.7209C30.4718 39.1227 29.9447 39.3505 29.3931 39.3505Z" fill=""/>
          </svg>
          
      </div>
    </div>
    <h3 class="pt-1" style="color: var(--accent);">Keep Scrolling</h3>
  </div>