---

import Bordered from 'src/layouts/Bodered.astro'
import Bar from 'src/components/Hero/Partials/Barcode.astro'
import Intern from '@/components/Hero/Partials/international.astro'
import Restrict from '@/components/Hero/Partials/restricted.astro'
import KeepScrolling from "src/components/Hero/Partials/ArrowScrolling.astro"
import '../Hero/Partials/Hero.css'
import { Icon } from 'astro-icon/components'
---
<div class="w-[100%] h-screen herosec overflow-hidden flex flex-col items-center justify-start py-4 px-[3%] box-border">
  <main class="self-stretch flex flex-col items-center justify-start pt-0 py-0 px-0 pb-[0.20001220703125px] gap-[27px]">
   
    <section
      class="self-stretch  h-screen flex flex-col items-center justify-center gap-[87px] text-left  text-tomato font-kleemax-demo"
      id="notnav"

    >
      <Fragment >
        <Bordered > 
          <div class="self-stretch overflow-hidden flex flex-col items-center justify-center gap-[11px]">
          <div class="self-stretch relative h-[257.8px] overflow-hidden flex items-center justify-center shrink-0">
            <div class="absolute  h-[400px] w-[97%]  overflow-hidden flex items-center justify-center">
              <div class="x2023 absolute text-[125px] md:text-[250px] xl:text-[395px] top-[34px] xl:top-[54px] leading-[180px] flex items-center justify-center w-[97%] left-[1.5%] h-[400px] text-center font-kleemax-demo">
                2024
              </div>
            
            </div>
            <div class="absolute w-[97%] left-[1.5%] overflow-hidden flex flex-col bottom-[40px] xl:top-[40px] justify-center items-center text-black">
              <h1
                class="relative text-[42px] md:text-[70px] xl:text-[76px] 2xl:text-[96px] text-center"
                id="decp"
              >
                DECENT PARADOX
              </h1>
            </div>
          </div>
          </div>
        </Bordered>
      </Fragment>
    
      
      
      <div class=" self-stretch relative h-[18px] text-sm bottom-[60px] font-inter">
        <!-- <div class="absolute top-[0px] left-[0px] box-border w-[101px] h-[101px] border-t-[1px] border-solid border-darkslategray border-l-[1px]" />
        <div class="absolute top-[0px] right-[0px] box-border w-[101px] h-[101px] border-t-[1px] border-solid border-darkslategray border-r-[1px]" /> -->
        <header class="herot self-stretch flex flex-row items-center justify-between text-left text-3xs-2  font-inter">
          <div class="relative leading-[12px] uppercase flex items-center  h-6 shrink-0">
            <span class="w-full">
              <a href="/blog">Blog &#8599;</a>
            </span>
          </div>
          <div class=" h-6 flex flex-col items-start justify-start py-0 px-[0.2299957275390625px] box-border text-3xs-7 text-black">
            <div class="relative leading-[12px] uppercase flex items-center  h-3 shrink-0">
              <p><span id="change"></span></p>
            </div>
          </div>
          <div class="relative text-3xs-5 leading-[12px] uppercase text-right flex items-center h-6 shrink-0">
            <span class="w-full">
              <a href="/projects">Projects &#8599;</a>
            </span>
          </div>
        </header>

      </div>
 
      <header class=" w-[94%] herot pt-[64px] self-stretch flex flex-row items-center justify-between text-left text-3xs-2  absolute bottom-[40px] max-w-[calc(94%)]  font-inter">
        <div class="anim3 relative leading-[12px] uppercase  items-center  h-6 shrink-0 scroll hidden md:block">
          <Icon name="scroll" />
        </div>
        <div class="flex  items-start justify-start py-0  box-border text-3xs-7 text-black">
          <!-- Restricted -->
          <div class="anim2">
            <Icon name="restricted" />
          </div>
          
            <Icon name="logo" size={45} class="logo" />
          
          <div class="anim2 ">
            <Icon name="international" />
          </div>
          
            
            
        </div>
        <div class=" anim3 hidden md:flex w-[100px]  h-6 bar relative text-3xs-5 leading-[12px] uppercase text-right  items-center shrink-0">
          <Icon name="barcode" />

        </div>
      </header>

    </section>
  </main>
</div>
