---
import type { loadRenderer } from "node_modules/astro/dist/core/render";
import DesignSlider from "./DesignSlider.astro";
---

<section class="leading-[130px]">
    <div class="w-[94%] m-auto">
        <div class="anim4 leading-11 " > 
            <div>
                <h1 id="tobefitted">Bangalore <span>-</span> based</h1>
            </div>
            
        </div>
    </div>
    <div class="anim4 w-[94%] m-auto leading-8 ">
        <div> 
            <h1 id="tobefitted" >designer <span>&</span> developer </h1>
        </div>
    </div>
    <div class=" anim4 w-[94%] m-auto  leading-11">
        <div> 
            <h1 id="tobefitted" ><span> ਂ </span> crafting <span>digital</span> marvels</h1>
        </div>
    </div>
    <DesignSlider/>
    <div class=" anim4 w-[94%] m-auto  leading-13">
        <div> 
            <h1 id="tobefitted" >designs  <span> that ↑</span> i really  <span>♥</span> </h1>
        </div>
    </div>
    <div class=" anim4 w-[94%] m-auto  leading-6">
        <div> 
            <h1 id="tobefitted" >and projects that iam really  <span> proud ↭ </span> of  </h1>
        </div>
    </div>

</section>
<script>
    import fitty from "fitty"
    import gsap from "gsap";
    import ScrollTrigger from "gsap/ScrollTrigger";
    const to_be_fitted = document.querySelectorAll("#tobefitted")
    fitty("#tobefitted")
    gsap.registerPlugin(ScrollTrigger);

    gsap.to(".anim4 div h1", {
  backgroundPositionX: "0%",
  stagger: 3,
  scrollTrigger: {
    trigger: ".anim4 div h1",
    scrub: 2,
    start: "top center",
    end: "bottom bottom",
  },
  duration: 5,
  ease: "power1.inOut",
});


</script>
<style>
    #tobefitted > span{
        font-family: 'kleemax';
        text-transform: uppercase;
        /* font-size: 4vw; */
    }
    h1{
        font-family: "Geist";
        text-transform: uppercase;
        /* font-size: 9.5vw;
        line-height: 0.75; */
    }
    /* 
   html.dark .anim4 > div > h1 {
        background: linear-gradient(
    to right,
    var(--foreground),
    var(--accent) 75%
  );

  background-size: 300% 100%;
  background-position-x: 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  
  
    }
  html .anim4 > div > h1 {
        background: linear-gradient(
    to right,
    var(--foreground),
    var(--accent) 75%
  );
  background-size: 300% 100%;
  background-position-x: 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  }
     */
</style>
