---
import SectionLayout from "@/layouts/SectionLayout.astro";
---
<SectionLayout >
    <div class="mx-auto bento-md:-mx-[5vw] bento-lg:-mx-[20vw]">
        
        
        <!-- <BentoBox  /> -->
    </div>
    
</SectionLayout >
    
