---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Container from '@/components/Container.astro'
import Bordered from '@/layouts/Bordered.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout title="Blog" description="Blog">
  <Container class="flex grow flex-col gap-y-6">
    <Breadcrumbs
      items={[
        { label: 'Projects', href: '/projects', icon: 'lucide:archive' },
        {
          label: 'Pirated Pixels',
          href: '/projects/piratedpixels',
          icon: 'lucide:sticky-note',
        },
      ]}
    />
    <Bordered>
      <div class="flex h-[300px] items-center justify-center">
        <h1 class="mb-4 text-center font-mono text-3xl font-bold text-accent">
          Casestudy coming soon
        </h1>
      </div>
    </Bordered>
  </Container>
</Layout>
