---


import Base from '../layouts/Base.astro'
import '../styles/global.css'
import About from 'src/components/About/About.astro';
import Footer from '@/components/Footer/Footer.astro'
import Nav from 'src/components/Nav/Nav.astro'
import Projects from "src/components/Works/Project.astro"
import Hero from 'src/components/Hero/Hero.astro'

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<Base class="overflow-x-hidden ">
		<div class=" ">
			<Nav />
			<Hero />
			<About />
			<Projects />
			<Footer />
		</div>
		<!-- <div class="container md:hidden">
			<p>While I've made efforts to ensure a responsive design for various devices, the best viewing experience is achieved on larger screens. The layout and details are optimized to showcase my work more effectively on desktops or tablets. Feel free to explore, and for the optimal visual experience, consider switching to a device with a larger display. Thank you for visiting!</p>
		</div> -->
</Base>

<script>
	import  Lenis  from "@studio-freight/lenis";
	const lenis = new Lenis({
    duration: 1.2,
    easing: (t:any) => (t === 1 ? 1 : 1 - Math.pow(2, -10 * t)),
    direction : "vertical",
    gestureDirection: "vertical",
    smooth: true,
    smoothTouch: true,
    touchMultiplier: 2,
}as never);

function raf(time:any) {
    lenis.raf(time);
    requestAnimationFrame(raf);
}

requestAnimationFrame(raf);
</script>
<!-- <script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/ScrollTrigger.min.js"></script> -->

<!-- <script>

	ScrollTrigger.create({
	  animation: gsap.from(".logo", {
		y: "50vh",
		scale: 6,
		yPercent: -50,
	  }),
	  scrub: true,
	  trigger: ".content",
	  start: "top bottom",
	  endTrigger: ".content",
	  end: "top center",
	});
  </script> -->
<style>
	.container{
		font-family: 'Geist';
	}
</style>
