---
import Bordered from 'src/layouts/Bodered.astro'

---
<section>
    <footer class="flex flex-col md:flex-row ">
        <div class="slide-copy">
          <div class="slide-index"><p>p / 03</p></div>
          <div class="slide-name"><p>Sasank Reddy</p></div>
          <button> <a href="https://github.com/decentparadox/Portfolio">Github</a> </button>
        </div>
        <div class="slide-info">
          <div class="year">
            <p> year</p>
            <p>2024</p>
          </div>
          <div class="agency">
            <p> agency</p>
            <p>Luminiscent Labs</p>
          </div>
          <div class="role">
            <p> role</p>
            <p>Web Developer </p>
            <p>UI/UX Designer</p>
            <p>CTF Player</p>
          </div>
          
        </div>
        
      </footer>
      <div class="w-[calc(100%-128px)] ml-[64px]">
        <Bordered  class=""> 
          <div class="self-stretch overflow-hidden flex flex-col items-center justify-center gap-[11px]">
          <div class="self-stretch relative h-[257.8px] overflow-hidden flex items-center justify-center shrink-0">
            <div class="absolute top-[calc(50%_-_232.9px)]  w-[97%] h-[429px] overflow-hidden flex items-center justify-center">
              <div class="x2023 absolute text-[125px] md:text-[250px] xl:text-[395px] top-[34px] xl:top-[54px] leading-[180px] flex items-center justify-center w-[97%] left-[1.5%] h-[419px] text-center font-kleemax-demo">
                DECP
              </div>
            
            </div>
            <div class="absolute w-[97%] left-[1.5%] overflow-hidden flex flex-col bottom-[40px] xl:top-[40px] justify-center items-center text-black">
              <h1
                class="relative text-[36px] md:text-[55px] xl:text-[66px] 2xl:text-[76px] text-center"
                id="decp"
              >
                ALL RIGHTS RESERVED
              </h1>
            </div>
          </div>
          </div>
        </Bordered>
      </div>
     
      <style>
        button {
  position: relative;
  background: none;
  outline: none;
  border: 1px solid var(--foreground);
  border-radius: 0.25em;
  font-size: 17px;
  color: var(--foreground);
  font-family: "Geist";
  padding: 0.25em 0.75em;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s;
  z-index: 100;
}

button span {
  padding-right: 0.5em;
}

button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: var(--foreground);
  z-index: -1;
  transition: all 0.3s;
}

button:hover {
  color: var(--background);
}

button:hover::after {
  width: 100%;
}

.sub-nav {
  position: relative;
  right: -25%;
  width: 75%;
  padding: 4em;
  display: flex;
  justify-content: space-between;
  color: var(--foreground);
}

.sub-nav p:nth-child(1) {
  width: 30%;
}

p.primary {
  font-size: 40px;
  text-align: right;
}

        footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 10em 4em 4em 4em;
}

footer > div {
  flex: 1;
}

.slide-info {
  display: flex;
  align-items: flex-start;
  gap: 2em;
}

.slide-info > div {
  flex: 1;
}

.slide-name p {
  font-size: 42px;
  padding: 0.5em 0 1.5em 0;
}

.year p:nth-child(1),
.agency p:nth-child(1),
.role p:nth-child(1),
.awards p:nth-child(1) {
  margin-bottom: 2em;
}

      </style>
</section>