<section>
    <footer>
        <div class="slide-copy">
          <div class="slide-index"><p>p / 03</p></div>
          <div class="slide-name"><p>Sasank Reddy</p></div>
          <button><span>·</span> visit</button>
        </div>
        <div class="slide-info">
          <div class="year">
            <p><span>·</span> year</p>
            <p>2023</p>
          </div>
          <div class="agency">
            <p><span>·</span> agency</p>
            <p>// n/a</p>
          </div>
          <div class="role">
            <p><span>·</span> role</p>
            <p>// front end developement //</p>
            <p>// UI/UX Designer //</p>
            <p>// CTF Player //</p>
          </div>
          <div class="awards">
            <p><span>·</span> awards</p>
            <p>// None yet</p>
            
          </div>
        </div>
      </footer>
      <style>
        button {
  position: relative;
  background: none;
  outline: none;
  border: 1px solid var(--foreground);
  border-radius: 0.25em;
  font-size: 17px;
  color: var(--foreground);
  font-family: "Geist";
  padding: 0.25em 0.75em;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s;
  z-index: 100;
}

button span {
  padding-right: 0.5em;
}

button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: var(--foreground);
  z-index: -1;
  transition: all 0.3s;
}

button:hover {
  color: var(--background);
}

button:hover::after {
  width: 100%;
}

.sub-nav {
  position: relative;
  right: -25%;
  width: 75%;
  padding: 4em;
  display: flex;
  justify-content: space-between;
  color: var(--foreground);
}

.sub-nav p:nth-child(1) {
  width: 30%;
}

p.primary {
  font-size: 40px;
  text-align: right;
}

        footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 10em 4em 4em 4em;
  display: flex;
}

footer > div {
  flex: 1;
}

.slide-info {
  display: flex;
  align-items: flex-start;
  gap: 2em;
}

.slide-info > div {
  flex: 1;
}

.slide-name p {
  font-size: 42px;
  padding: 0.5em 0 1.5em 0;
}

.year p:nth-child(1),
.agency p:nth-child(1),
.role p:nth-child(1),
.awards p:nth-child(1) {
  margin-bottom: 2em;
}

      </style>
</section>