---

---
<div class="self-stretch flex flex-col items-center justify-start gap-[18px]">
    <div class="self-stretch relative h-px">
      
      <div class="absolute top-[0px] left-[0px] box-border w-[101px] h-[101px] border-t-[1px] border-solid border-darkslategray border-l-[1px]" />
      <div class="absolute top-[0px] right-[0px] box-border w-[101px] h-[101px] border-t-[1px] border-solid border-darkslategray border-r-[1px]" />
    </div>
        <slot></slot>
      <div class="self-stretch relative h-px">
        <div class="absolute bottom-[1px] left-[0px] box-border w-[101px] h-[101px] border-b-[1px] border-solid border-darkslategray border-l-[1px]" />
        <div class="absolute right-[0px] bottom-[1px] box-border w-[101px] h-[101px] border-r-[1px] border-solid border-darkslategray border-b-[1px]" />
      
      </div>
</div>
  