<div class="w-[375px] mx-auto md:w-[800px] xl:w-[1200px] max-w-screen-xl">
    <div class="px-[16px] py-[16px] text-xs md:text-sm lg:text-sm xl:text-[16px] 2xl:text-[18px]">
        <slot></slot>
    </div>
    
</div>