---
import Marquee from './Marquee.astro';
import Mode from './Toggles/Mode.astro';
import ThemeSwitcher from './Toggles/ThemeMenu.tsx'

---

<div class="herot pt-7 w-[94%] ml-[3%] self-stretch flex flex-row items-center justify-between text-left text-3xs-2 text-gray-100 font-inter">
  <div class="relative leading-[12px]  flex items-center  h-6 shrink-0">
    <span class="">
      <p class="m-0">Folio 2k24</p>
      
    </span>
  </div>
  <div class=" relative text-3xs-5 leading-[12px] m-auto w-[65%] hidden md:block text-center  items-center justify-center  h-6 shrink-0">
      <div class="w-[50%]  m-auto  "> <Marquee></div>
    <!-- <Marquee />         -->
  </div>
  <div class="h-6 flex flex-col items-start justify-start py-0 px-[0.2299957275390625px] box-border text-3xs-7 text-black">
    <div class="relative leading-[12px] uppercase flex items-center  h-3 shrink-0">
      <Mode />
      <ThemeSwitcher  client:load>


    </div>
  </div>
  
</div>